---
import { DEFAULT_LOCALE } from "@/config/locales"
import { SITE_CONFIG } from "@/config/site"

const homePath = `/${DEFAULT_LOCALE}/`
const homeUrl = `${SITE_CONFIG.url}${homePath}`
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Polyglow - Multilingual Astro Content Theme</title>
    <meta name="robots" content="noindex, follow" />
    <meta http-equiv="refresh" content={`0; url=${homePath}`} />
    <link rel="canonical" href={homeUrl} />
  </head>
  <body>
    <a href={homePath}>Continue to Polyglow</a>
  </body>
</html>
